* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container-banner {
    width: 100%;
    height: 600px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.principal {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    /* width: 100%; */
    height: 65px;
}

header nav a {
    color: white;
    margin: 15px;
}

header nav a:nth-child(1) {
    padding-bottom: 5px;
    border-bottom: 4px solid white;
}

header nav a:hover {
    padding-bottom: 5px;
    border-bottom: 4px solid white;
}

.accion {
    /* width: 100%; */
    height: 520px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}

.accion h1 {
    font-size: 120px;
    color: white;
    text-shadow: 0px 4px 6px #000000;
    text-align: center;
    margin-bottom: 25px;
}

.accion button {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #0089E0;
    color: white;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
}